<aside>
  <div class="panel radius">
	  <h3>Menu</h3>
      <ul>
          <li>
              <a href="#appetizers">Appetizers</a>
          </li>
          <li>
              <a href="#soup">Soup</a>
          </li>
          <li>
              <a href="#friedrice">Fried Rice</a>
          </li>
          <li>
              <a href="#mooshu">Moo Shu</a>
          </li>
          <li>
              <a href="#sweetsour">Sweet and Sour</a>
          </li>
          <li>
              <a href="#chowmein">Chow Mein</a>
          </li>
          <li>
              <a href="#poultry">Poultry</a>
          </li>
          <li>
              <a href="#seafood">Seafood</a>
          </li>
          <li>
              <a href="#eggfooyoung">Egg Foo Young</a>
          </li>
          <li>
              <a href="#lomein">Lo Mein</a>
          </li>
          <li>
              <a href="#pork">Pork</a>
          </li>
          <li>
              <a href="#beef">Beef</a>
          </li>
          <li>
              <a href="#luncheon">Luncheon Specials</a>
          </li>
          <li>
              <a href="#combinationplates">Combination Plates</a>
          </li>
          <li>
              <a href="#cheffsugestions">Chef's Suggestions</a>
          </li>
          <li>
              <a href="#vegetables">Vegetables</a>
          </li>
          <li>
              <a href="#weightwatchers">For Weight Watchers</a>
          </li>
          <li>
              <a href="#misc">Misc.</a>
          </li>
      </ul>
  </div>
</aside>
