<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Beef</h5></th>
        <th>(w. Rice)</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>B1</td>
        <td>Beef with Mixed Veg</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B2</td>
        <td>Beef with Broccoli</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B3</td>
        <td>Pepper Steak with Onion</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B4</td>
        <td>Beef with Oyster Sauce</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B5</td>
        <td>Pepper Steak with Tomatoes</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B6</td>
        <td>Beef with Mushrooms</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
      <tr>
        <td>B7</td>
        <td>Beef with String Beans</td>
        <td></td>
        <td>$11.95</td>
      </tr>
      <tr>
        <td style="color:red">B8</td>
        <td style="color:red">*Mongolian Beef</td>
        <td style="color:red"></td>
        <td style="color:red">$12.95</td>
      </tr>
      <tr>
        <td>B9</td>
        <td>Sesame Beef</td>
        <td></td>
        <td>$13.95</td>
      </tr>
      <tr>
        <td style="color:red">B10</td>
        <td style="color:red">*Beef with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$12.50</td>
      </tr>
      <tr>
        <td style="color:red">B11</td>
        <td style="color:red">*Kung Pao Beef</td>
        <td style="color:red"></td>
        <td style="color:red">$11.95</td>
      </tr>
      <tr>
        <td style="color:red">B12</td>
        <td style="color:red">*Hunan Beef</td>
        <td style="color:red"></td>
        <td style="color:red">$11.95</td>
      </tr>
      <tr>
        <td>B13</td>
        <td>Beef with Snow Peas</td>
        <td>$7.95 (sm)</td>
        <td>$12.95 (lg)</td>
      </tr>
      <tr>
        <td style="color:red">B14</td>
        <td style="color:red">*Szechuan Beef</td>
        <td style="color:red"></td>
        <td style="color:red">$12.50</td>
      </tr>
      <tr>
        <td style="color:red">B15</td>
        <td style="color:red">*Beef with Eggplant in Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$12.50</td>
      </tr>
      <tr>
        <td>B16</td>
        <td>Beef with Asparagus</td>
        <td></td>
        <td>$13.95</td>
      </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
