<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th>Chow Mein</th>
        <th>(w Rice/Noodles)</th>
      </tr>
      <tr>
        <td>CM1</td>
        <td>Chicken Chow Mein</td>
        <td>$5.50</td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>CM2</td>
        <td>Roast Pork Chow Mein</td>
        <td>$5.50</td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>CM3</td>
        <td>Beef Chow Mein</td>
        <td>$5.95</td>
        <td>$9.75</td>
      </tr>
      <tr>
        <td>CM4</td>
        <td>Vegetable Chow Mein</td>
        <td>$5.50</td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>CM5</td>
        <td>Shrimp Chow Mein</td>
        <td>$5.95</td>
        <td>$9.75</td>
      </tr>
      <tr>
        <td>CM6</td>
        <td>House Special Chow Mein</td>
        <td>$6.25</td>
        <td>$10.25</td>
      </tr>
    </table>
</div>
