<div class="panel radius">
    <table class="panel radius">
        <tr>
            <th>
                <h5>Combination Plates</h5>
            </th>
            <th>
                <h5>Served w. Egg Roll & Pork Fried Rice</h5>
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                CP1
            </td>
            <td>
                Sweet and Sour Pork or Chicken
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP2
            </td>
            <td>
                Moo Goo Gai Pan
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP3
            </td>
            <td>
                Pepper Steak with Onion
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP4
            </td>
            <td style="color:red">
                *Szechuan Beef
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP5
            </td>
            <td style="color:red">
                *Chicken with Garlic Sauce
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP6
            </td>
            <td>
                Barbecued Spare Ribs or Boneless
            </td>
            <td>
                $9.50
            </td>
        </tr>
        <tr>
            <td>
                CP7
            </td>
            <td>
                Jumbo Shrimp w. Lobster Sauce
            </td>
            <td>
                $8.95
            </td>
        </tr>
        <tr>
            <td>
                CP8
            </td>
            <td>
                Roast Pork w. Mixed Vegetable
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP9
            </td>
            <td>
                Beef or Chicken w. Broccoli
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP10
            </td>
            <td>
                Chicken w. Cashew Nuts
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP11
            </td>
            <td>
                Chow Mein (Chicken or Pork)
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP12
            </td>
            <td>
                Roast Pork or Chicken Lo Mein
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP13
            </td>
            <td>
                Egg Foo Young
            </td>
            <td>
                $9.50
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP14
            </td>
            <td style="color:red">
                *General Tso's Chicken
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP15
            </td>
            <td>
                Sesame Chicken
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP16
            </td>
            <td>
                Beef with Mixed Vegetables
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP17
            </td>
            <td>
                Chicken with Mixed Vegetables
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP18
            </td>
            <td>
                Shrimp Chow Mein
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP19
            </td>
            <td style="color:red">
                *Szechuan Chicken
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td>
                CP20
            </td>
            <td>
                Shrimp Lo Mein
            </td>
            <td>
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP21
            </td>
            <td style="color:red">
                *Hunan Chicken
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP22
            </td>
            <td style="color:red">
                *Kung Po Chicken
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP23
            </td>
            <td style="color:red">
                *Beef with Garlic Sauce
            </td>
            <td style="color:red">
                $8.75
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP24
            </td>
            <td style="color:red">
                *Shrimp with Garlic Sauce
            </td>
            <td style="color:red">
                $8.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP25
            </td>
            <td style="color:red">
                *Hunan Shrimp
            </td>
            <td style="color:red">
                $8.95
            </td>
        </tr>
        <tr>
            <td>
                CP26
            </td>
            <td>
                Shrimp with Broccoli
            </td>
            <td>
                $8.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP27
            </td>
            <td style="color:red">
                *Curry Chicken with Onion
            </td>
            <td style="color:red">
                $8.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                CP28
            </td>
            <td style="color:red">
                *Curry Shrimp with Onion
            </td>
            <td style="color:red">
                $9.25
            </td>
        </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
