<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Egg Foo Young</h5></th>
        <th>

        </th>
        <th>

        </th>
        <th>
            
        </th>
      </tr>
      <tr>
        <td>FY1</td>
        <td>Roast Pork Egg Foo Young or Vegetable</td>
        <td></td>
        <td>$8.50</td>
      </tr>
      <tr>
        <td>FY2</td>
        <td>Chicken Egg Foo Young</td>
        <td></td>
        <td>$8.50</td>
      </tr>
      <tr>
        <td>FY3</td>
        <td>Beef Egg Foo Young</td>
        <td></td>
        <td>$8.75</td>
      </tr>
      <tr>
        <td>FY4</td>
        <td>Shrimp Egg Foo Young</td>
        <td></td>
        <td>$8.75</td>
      </tr>
      <tr>
        <td>FY5</td>
        <td>House Special Egg Foo Young</td>
        <td></td>
        <td>$9.25</td>
      </tr>
    </table>
</div>
