<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th>Fried Rice</th>
      </tr>
      <tr>
        <td>FR1</td>
        <td>Vegetable Fried Rice</td>
        <td>$4.95</td>
        <td>$8.50</td>
      </tr>
      <tr>
        <td>FR2</td>
        <td>Roasted Pork Fried Rice</td>
        <td>$4.95</td>
        <td>$8.50</td>
      </tr>
      <tr>
        <td>FR3</td>
        <td>Chicken Fried Rice</td>
        <td>$4.95</td>
        <td>$8.50</td>
      </tr>
      <tr>
        <td>FR4</td>
        <td>Beef Fried Rice</td>
        <td>$5.25</td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>FR5</td>
        <td>Shrimp Fried Rice</td>
        <td>$5.25</td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>FR6</td>
        <td>House Special Fried Rice</td>
        <td>$5.75</td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td>FR7</td>
        <td>Lobster Fried Rice</td>
        <td>$8.50</td>
        <td>$14.95</td>
      </tr>
    </table>
</div>
