<div id="lomein" class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Lo Mein</h5></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>LM1</td>
        <td>Roast Pork Lo Mein</td>
        <td>$5.50 (sm)</td>
        <td>$8.95 (lg)</td>
      </tr>
      <tr>
        <td>LM2</td>
        <td>Chicken Lo Mein</td>
        <td>$5.50 (sm)</td>
        <td>$8.95 (lg)</td>
      </tr>
      <tr>
        <td>LM3</td>
        <td>Vegetable Lo Mein</td>
        <td>$5.50 (sm)</td>
        <td>$8.95 (lg)</td>
      </tr>
      <tr>
        <td>LM4</td>
        <td>Beef Lo Mein</td>
        <td>$5.59 (sm)</td>
        <td>$9.95 (lg)</td>
      </tr>
      <tr>
        <td>LM5</td>
        <td>Shrimp Lo Mein</td>
        <td>$5.59 (sm)</td>
        <td>$9.95 (lg)</td>
      </tr>
      <tr>
        <td>LM6</td>
        <td>House Special Lo Mein</td>
        <td>$6.25 (sm)</td>
        <td>$10.25 (lg)</td>
      </tr>
    </table>
</div>
