<div id="luncheon" class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Luncheon Specials</h5></th>
        <th><h5>Monday-Saturday:<br />11:30am-3:00pm<br />(Served with White Rice, Brown Rice, or Pork Fried Rice.<br /> (One Free 12oz. Can Soda with Each Luncheon Purchase)</h5></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>L1</td>
        <td>Beef with Mixed Vegetables</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L2</td>
        <td>Chicken with Broccoli</td>
        <td></td>
        <td>$6.25</td>
      </tr>
      <tr>
        <td>L3</td>
        <td>Beef with Broccoli</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L4</td>
        <td>Chicken Chow Mein</td>
        <td></td>
        <td>$6.25</td>
      </tr>
      <tr>
        <td>L5</td>
        <td>Shrimp Chow Mein</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L6</td>
        <td>Moo Moo Gai Pan (Chicken)</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L7</td>
        <td>Pepper Steak with Onion</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L8</td>
        <td>Shrimp Egg Foo Young</td>
        <td></td>
        <td>$6.95</td>
      </tr>
      <tr>
        <td>L9</td>
        <td>Pork Egg Foo Young</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L10</td>
        <td>Beef Lo Mein</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L11</td>
        <td>Roast Pork Lo Mein</td>
        <td></td>
        <td>$6.25</td>
      </tr>
      <tr>
        <td>L12</td>
        <td>Shrimp with Lobster Sauce</td>
        <td></td>
        <td>$6.95</td>
      </tr>
      <tr>
        <td>L13</td>
        <td>Sweet and Sour Chicken</td>
        <td></td>
        <td>$6.25</td>
      </tr>
      <tr>
        <td style="color:red">L14</td>
        <td style="color:red">*Broccoli with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$6.25</td>
      </tr>
      <tr>
        <td style="color:red">L15</td>
        <td style="color:red">*Curry Chicken with Onion</td>
        <td style="color:red"></td>
        <td style="color:red">$6.95</td>
      </tr>
      <tr>
        <td style="color:red">L16</td>
        <td style="color:red">*General Tso's Chicken</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td>L17</td>
        <td>Sesame Chicken</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td style="color:red">L18</td>
        <td style="color:red">*Beef with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td style="color:red">L19</td>
        <td style="color:red">*Shrimp with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$6.95</td>
      </tr>
      <tr>
        <td style="color:red">L20</td>
        <td style="color:red">*Chicken with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td style="color:red">L21</td>
        <td style="color:red">*Curry Shrimp with Onion</td>
        <td style="color:red"></td>
        <td style="color:red">$6.95</td>
      </tr>
      <tr>
        <td style="color:red">L22</td>
        <td style="color:red">*Hunan Shrimp</td>
        <td style="color:red"></td>
        <td style="color:red">$6.95</td>
      </tr>
      <tr>
        <td style="color:red">L23</td>
        <td style="color:red">*Hunan Chicken</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td>L24</td>
        <td>Sauteed String Beans</td>
        <td></td>
        <td>$6.25</td>
      </tr>
      <tr>
        <td style="color:red">L25</td>
        <td style="color:red">*Kung Po Chicken</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td>L26</td>
        <td>Mixed Vegetables with Shrimp</td>
        <td></td>
        <td>$6.95</td>
      </tr>
      <tr>
        <td>L27</td>
        <td>Mixed Vegetables with Chicken</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td style="color:red">L28</td>
        <td style="color:red">*Szechuan Chicken</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td style="color:red">L29</td>
        <td style="color:red">*Szechuan Beef</td>
        <td style="color:red"></td>
        <td style="color:red">$6.50</td>
      </tr>
      <tr>
        <td>L30</td>
        <td>Chicken with Cashew Nuts</td>
        <td></td>
        <td>$6.50</td>
      </tr>
      <tr>
        <td>L31</td>
        <td>Boneless Rib</td>
        <td></td>
        <td>$6.95</td>
      </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
