<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Miscellaneous</h5></th>
        <th><h5></h5></th>
        <th></th>
      </tr>
      <tr>
        <td>Boiled Rice</td>
        <td>$1.50 (sm)</td>
        <td>$2.50 (lg)</td>
      </tr>
      <tr>
        <td>Crispy Noodles</td>
        <td></td>
        <td>$0.75</td>
      </tr>
      <tr>
        <td>Brown Rice</td>
        <td>$1.75 (sm)</td>
        <td>$3.25 (lg)</td>
      </tr>
    </table>
</div>
