<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th>Moo Shu</th>
        <th>(Served with 4 Pancakes)</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>MS1</td>
        <td>Moo Shu Chicken</td>
        <td></td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td>MS2</td>
        <td>Moo Shu Pork</td>
        <td></td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td>MS3</td>
        <td>Moo Shu Beef</td>
        <td></td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td>MS4</td>
        <td>Moo Shu Shrimp</td>
        <td></td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td>MS5</td>
        <td>Moo Shu Vegetable</td>
        <td></td>
        <td>$9.95</td>
      </tr>
    </table>
</div>
