<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Pork</h5></th>
        <th><h5>(w. Rice)</h5></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>PK1</td>
        <td>Roast Pork with Oyster Sauce</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td>PK2</td>
        <td>Roast Pork with Mixed Vegetable</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td>PK3</td>
        <td>Roast Pork with Mushrooms</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td>PK4</td>
        <td>Roast Pork with Broccoli</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td>PK5</td>
        <td>Roast Pork with String Beans</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td style="color:red">PK6</td>
        <td style="color:red">*Roast Pork with Garlic Sauce</td>
        <td style="color:red"></td>
        <td style="color:red">$11.95</td>
      </tr>
      <tr>
        <td style="color:red">PK7</td>
        <td style="color:red">*Mongolian Pork</td>
        <td style="color:red"></td>
        <td style="Color:red">$12.95</td>
      </tr>
      <tr>
        <td>PK8</td>
        <td>Roast Pork with Black Bean Sauce</td>
        <td>$6.75 (sm)</td>
        <td>$10.95 (lg)</td>
      </tr>
      <tr>
        <td>PK9</td>
        <td>Roast Pork with Snow Peas</td>
        <td>$7.50 (sm)</td>
        <td>$12.95 (lg)</td>
      </tr>
      <tr>
        <td>PK10</td>
        <td>Roast Pork with Asparagus</td>
        <td></td>
        <td>$12.95</td>
      </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
