<div class="panel radius">
    <table class="panel radius">
        <tr>
            <th>Poultry (w. Rice)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>P1</td>
            <td>Moo Goo Gai Pan</td>
            <td>$6.75 (sm)</td>
            <td>$10.95 (lg)</td>
        </tr>
        <tr>
            <td>
                P2
            </td>
            <td>
                Chicken w. Black Bean Sauce
            </td>
            <td>
                $6.75 (sm)
            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P3
            </td>
            <td>
                *Chicken Curry
            </td>
            <td>
                $7.50 (sm)
            </td>
            <td>
                $12.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P4
            </td>
            <td>
                Chicken with Broccoli
            </td>
            <td>
                $6.75 (sm)
            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P5
            </td>
            <td>
                Chicken with Snow Peas
            </td>
            <td>
                $7.50 (sm)
            </td>
            <td>
                $12.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P6
            </td>
            <td>
                Boneless Chicken with Vegetables
            </td>
            <td>
            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P7
            </td>
            <td>
                Lemon Chicken
            </td>
            <td></td>
            <td>
                $10.98 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P8
            </td>
            <td>
                Chicken with String Beans
            </td>
            <td>

            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
    </table>
</div>
