<div id="poultry" class="panel radius">
    <table class="panel radius">
        <tr>
            <th><h5>Poultry</h5></th>
            <th><h5>(w. Rice)</h5></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>P1</td>
            <td>Moo Goo Gai Pan</td>
            <td>$6.75 (sm)</td>
            <td>$10.95 (lg)</td>
        </tr>
        <tr>
            <td>
                P2
            </td>
            <td>
                Chicken w. Black Bean Sauce
            </td>
            <td>
                $6.75 (sm)
            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P3
            </td>
            <td style="color:red">
                *Chicken Curry
            </td>
            <td style="color:red">
                $7.50 (sm)
            </td>
            <td style="color:red">
                $12.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P4
            </td>
            <td>
                Chicken with Broccoli
            </td>
            <td>
                $6.75 (sm)
            </td>
            <td>
                $10.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P5
            </td>
            <td>
                Chicken with Snow Peas
            </td>
            <td>
                $7.50 (sm)
            </td>
            <td>
                $12.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                P6
            </td>
            <td>
                Boneless Chicken with Vegetables
            </td>
            <td>
            </td>
            <td>
                $10.95
            </td>
        </tr>
        <tr>
            <td>
                P7
            </td>
            <td>
                Lemon Chicken
            </td>
            <td></td>
            <td>
                $10.98
            </td>
        </tr>
        <tr>
            <td>
                P8
            </td>
            <td>
                Chicken with String Beans
            </td>
            <td>

            </td>
            <td>
                $10.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P9
            </td>
            <td style="color:red">
                *Hunan Chicken
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.50
            </td>
        </tr>
        <tr>
            <td>
                P10
            </td>
            <td>
                Chicken with Mixed Vegetables
            </td>
            <td>

            </td>
            <td>
                $10.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P11
            </td>
            <td style="color:red">
                *Chicken with Garlic Sauce
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.50
            </td>
        </tr>
        <tr>
            <td>
                P12
            </td>
            <td>
                Chicken with Cashew Nuts
            </td>
            <td>

            </td>
            <td>
                $11.50
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P13
            </td>
            <td style="color:red">
                *Kung Po Chicken
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.50
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P14
            </td>
            <td style="color:red">
                *Orange Flavor Chicken
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P15
            </td>
            <td style="color:red">
                *Szechuan Chicken
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.50
            </td>
        </tr>
        <tr>
            <td style="color:red">
                P16
            </td>
            <td style="color:red">
                *Chicken w. Eggplant in Garlic Sauce
            </td>
            <td>

            </td>
            <td style="color:red">
                $12.95
            </td>
        </tr>
        <tr>
            <td>
                P17
            </td>
            <td>
                Chicken w. Asparagus
            </td>
            <td>

            </td>
            <td>
                $12.95
            </td>
        </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
