<div class="panel radius">
    <table class="panel radius">
        <tr>
            <th>
                <h5>Seafood</h5>
            </th>
            <th><h5>(w. Rice)</h5></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                SF1
            </td>
            <td>
                Jumbo Shrimp w. Mushroom
            </td>
            <td>
                $6.95 (sm)
            </td>
            <td>
                $11.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF2
            </td>

            <td>
                Jumbo Shrimp w. Lobster Sauce
            </td>
            <td>
                $6.95 (sm)
            </td>
            <td>
                $11.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF3
            </td>
            <td>
                Jumbo Shrimp w. Black Bean Sauce
            </td>
            <td>
                $6.95 (sm)
            </td>
            <td>
                $11.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF4
            </td>
            <td>
                Jumbo Shrimp w. Broccoli
            </td>
            <td>
                $6.95 (sm)
            </td>
            <td>
                $11.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF5
            </td>
            <td>
                Jumbo Shrimp w. Mixed Veg
            </td>
            <td>
                $6.95 (sm)
            </td>
            <td>
                $11.95 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF6
            </td>
            <td>
                Jumbo Shrimp w. Snow Peas
            </td>
            <td>
                $7.50 (sm)
            </td>
            <td>
                $12.95 (lg)
            </td>
        </tr>
        <tr>
            <td style="color:red">
                SF7
            </td>
            <td style="color:red">
                *Curry Shrimp w. Onion
            </td>
            <td style="color:red">
                $7.95 (sm)
            </td>
            <td style="color:red">
                $13.50 (lg)
            </td>
        </tr>
        <tr>
            <td>
                SF8
            </td>
            <td>
                Jumbo Shrimp w. Peppers & Tomatoes
            </td>
            <td>

            </td>
            <td>
                $11.95
            </td>
        </tr>
        <tr>
            <td>
                SF9
            </td>
            <td>
                Baby Shrimp w. Cashew Nuts
            </td>
            <td>

            </td>
            <td>
                $11.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                SF10
            </td>
            <td style="color:red">
                *Kung Po Shrimp
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.95
            </td>
        </tr>
        <tr>
            <td style="color:red">
                SF11
            </td>
            <td style="color:red">
                *Jumbo Shrimp w. Garlic Sauce
            </td>
            <td>

            </td>
            <td style="color:red">
                $11.95
            </td>
        </tr>
        <tr>
            <td>
                SF12
            </td>
            <td>
                Scallop w. Broccoli
            </td>
            <td>

            </td>
            <td>
                $11.95
            </td>
        </tr>
        <tr>
            <td>
                SF13
            </td>
            <td>
                Jumbo Shrimp, Szechuan Style
            </td>
            <td>

            </td>
            <td>
                $11.95
            </td>
        </tr>
        <tr>
            <td>
                SF14
            </td>
            <td>
                Scallop w. Mixed Vegetable
            </td>
            <td>

            </td>
            <td>
                $12.95
            </td>
        </tr>
        <tr>
            <td>
                SF15
            </td>
            <td>
                Shrimp String Bean
            </td>
            <td>

            </td>
            <td>
                $12.95
            </td>
        </tr>
        <tr>
            <td>
                SF16
            </td>
            <td>
                Shrimp Asparagus
            </td>
            <td>

            </td>
            <td>
                $12.95
            </td>
        </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
