<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th>Soup</th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
      </tr>
      <tr>
        <td>S1</td>
        <td>Egg Flower Soup</td>
        <td>$2.25 (sm)</td>
        <td>$4.25 (lg)</td>
      </tr>
      <tr>
        <td>S2</td>
        <td>Egg Flower Soup w Seaweed</td>
        <td>$2.50 (sm)</td>
        <td>$4.95 (lg)</td>
      </tr>
      <tr>
        <td>S3</td>
        <td>Wonton Soup</td>
        <td>$2.50 (sm)</td>
        <td>$4.95 (lg)</td>
      </tr>
      <tr>
        <td>S4</td>
        <td>Chicken Noodles or Rice Soup</td>
        <td>$2.25 (sm)</td>
        <td>$4.25 (lg)</td>
      </tr>
      <tr>
        <td>S5</td>
        <td>Vegetable Soup with Bean Curd</td>
        <td></td>
        <td>$5.95</td>
      </tr>
      <tr>
        <td>S6</td>
        <td>*Hot and Sour Soup</td>
        <td>$2.50 (sm)</td>
        <td>$4.95 (lg)</td>
      </tr>
      <tr>
        <td>S7</td>
        <td>Seafood Soup with Bean Curd</td>
        <td></td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>S8</td>
        <td>House Special Wonton Soup</td>
        <td></td>
        <td>$8.95</td>
      </tr>
      <tr>
        <td>S9</td>
        <td>Egg Flower w Wonton Soup</td>
        <td>$2.50 (sm)</td>
        <td>$4.95 (lg)</td>
      </tr>
    </table>
</div>
