<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th>Sweet and Sour</th>
      </tr>
      <tr>
        <td>SS1</td>
        <td>Sweet and Sour Chicken</td>
        <td>$5.50 (sm)</td>
        <td>$8.50 (lg)</td>
      </tr>
      <tr>
        <td>SS2</td>
        <td>Sweet and Sour Pork</td>
        <td>$5.50 (sm)</td>
        <td>$8.50 (lg)</td>
      </tr>
      <tr>
        <td>SS3</td>
        <td>Sweet and Sour Shrimp</td>
        <td>$6.95 (sm)</td>
        <td>$11.95 (lg)</td>
      </tr>
    </table>
</div>
