<div id="vegetables" class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>Vegetables</h5></th>
        <th><h5>(w. Rice)</h5></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td style="Color:red">V1</td>
        <td style="Color:red">*Broccoli with Garlic Sauce</td>
        <td style="Color:red"></td>
        <td style="Color:red">$9.50</td>
      </tr>
      <tr>
        <td>V2</td>
        <td>Sauteed String Bean</td>
        <td></td>
        <td>$9.95</td>
      </tr>
      <tr>
        <td style="Color:red">V3</td>
        <td style="Color:red">*Eggplant with Garlic Sauce</td>
        <td style="Color:red"></td>
        <td style="Color:red">$10.50</td>
      </tr>
      <tr>
        <td style="Color:red">V4</td>
        <td style="Color:red">*Bean Curd, Szechuan Style</td>
        <td style="Color:red"></td>
        <td style="Color:red">$10.50</td>
      </tr>
      <tr>
        <td>V5</td>
        <td>Buddhist Delights (all veg) with Fried Tofu</td>
        <td></td>
        <td>$10.50</td>
      </tr>
      <tr>
        <td>V6</td>
        <td>Sauteed Snow Peas</td>
        <td></td>
        <td>$10.50</td>
      </tr>
      <tr>
        <td>V7</td>
        <td>Shiitake Mushrooms with Mixed Veg</td>
        <td></td>
        <td>$11.95</td>
      </tr>
      <tr>
        <td>V8</td>
        <td>Asparagus in Brown Sauce</td>
        <td></td>
        <td>$11.95</td>
      </tr>
      <tr>
        <td style="Color:red">V9</td>
        <td style="Color:red">*General Tso's Chicken (Vegetarian Style)</td>
        <td style="Color:red"></td>
        <td style="Color:red">$11.95</td>
      </tr>
      <tr>
        <td style="Color:red">V10</td>
        <td style="Color:red">*General Tso's Bean Curd</td>
        <td style="Color:red"></td>
        <td style="Color:red">$9.95</td>
      </tr>
      <tr>
        <td>V11</td>
        <td>Sesame Bean Curd</td>
        <td></td>
        <td>$9.50</td>
      </tr>
    </table>
    <h6>* = Hot and Spicy</h6>
</div>
