<div class="panel radius" style="width=50px border=0px">
    <table class="panel radius" style="width:50% border=0px">
      <tr>
        <th><h5>For Weight Watchers</h5></th>
        <th><h5>(Brown Rice, Brown Sauce on the Side)</h5></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>WW1</td>
        <td>Steamed Shrimp with Mixed Veg</td>
        <td></td>
        <td>$12.50</td>
      </tr>
      <tr>
        <td>WW2</td>
        <td>Steamed Buddhist Delight (all veg)</td>
        <td></td>
        <td>$9.50</td>
      </tr>
      <tr>
        <td>WW3</td>
        <td>Steamed Chicken with Mixed Veg</td>
        <td></td>
        <td>$11.50</td>
      </tr>
      <tr>
        <td>WW4</td>
        <td>Steamed White Meat Chicken with Broccoli</td>
        <td></td>
        <td>$11.50</td>
      </tr>
      <tr>
        <td>WW5</td>
        <td>Steamed White Meat Chicken with String Beans</td>
        <td></td>
        <td>$11.50</td>
      </tr>
      <tr>
        <td>WW6</td>
        <td>Steamed Jumbo Shrimp with Broccoli</td>
        <td></td>
        <td>$12.50</td>
      </tr>
      <tr>
        <td>WW7</td>
        <td>Steamed Jumbo Shrimp with String Beans</td>
        <td></td>
        <td>$12.50</td>
      </tr>
      <tr>
        <td>WW8</td>
        <td>Steamed Chicken with Snow Peas</td>
        <td></td>
        <td>$12.50</td>
      </tr>
      <tr>
        <td>WW9</td>
        <td>Steamed Chicken and Shrimp with Mixed Veg</td>
        <td></td>
        <td>$12.95</td>
      </tr>
      <tr>
        <td>WW10</td>
        <td>Steamed Chicken and Shrimp with Broccoli</td>
        <td></td>
        <td>$12.95</td>
      </tr>
    </table>
</div>
